{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<h1>Локомотивы</h1>
{% if locomotives %}
{% for el in locomotives %}
<div class="alert alert-warning mt-2">


    <h3><a href="{% url 'about' %}">{{ el.name_loc }}</a></h3>
    <!--                <p>{{ el.type_loc }}</p>-->
    <!--                <p>{{ el.function_loc }}</p>-->
    <!--                <p>{{ el.year }}</p>-->
    <!--                <p>{{ el.country_loc }}</p>-->
    <!--                <p>{{ el.construction_speed }}</p>-->
    <!--                <p>{{ el.weight_loc }}</p>-->
    <!--                <p>{{ el.length_loc }}</p>-->
    <!--                <p>{{ el.description }}</p>-->

</div>
{% endfor %}
{% else %}
<p>У Вас нет записей</p>
{% endif %}
{% endblock %}



